/* Write your CSS code here */
.about {
  color: #551e53;
  font-size: 35px;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .about {
    font-size: 25px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Roboto';
}

@media screen and (max-width: 767px) {
  .about-img {
    width: 60%;
  }
}

.text {
  color: #555555;
  font-size: 20px;
  text-align: center;
}
